* {
    padding: 0;
    margin: 0;
    font-family: 'One Little Font';
}

@font-face {
    font-family: 'One Little Font';
    src: url('fonts/One\ Little\ Font\ Regular.otf') format('opentype');
}

h1, h2, h3, h4 {
    color: black;
    display:inline;
    
}

i {
    color: white;
}

:root {
    --color-primary: #70a9a1;
    --color-white: #ebeaea;
    --color-logo: #e6b8d3;
    --color-foot: #1F363D;
    --color-h1: #29524A;
    --color-h2: #15B097;
    --color-h3: #71f79f;
    --color-h4: #4D5382;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}

.primario {
    cursor: pointer;
    border-radius: 10px;
    width: 450px;
    background-color: var(--color-h1);
    padding: 20px;
    margin: 20px 0;
    font-size: 2rem;
    
}

.secundario {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    width: 350px;
    background-color: var(--color-h2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.terciario {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;   
    background-color: var(--color-h3);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.quartenario {
    display: none;
    border-radius: 10px;
    width: 150px;
    background-color: var(--color-h4);
    padding: 7px;
    margin-bottom: 20px;
    font-size: 0.7rem;
}

@keyframes animacao {
    0% {
        width: 0%;
    }
    
    100% {
        width: 30%;
    }
}

dialog {
    height: 100vh;
    width: 30%;
    animation-name: animacao;
    animation-duration: 1s;
}

dialog h2 {
    color: white;
}
dialog p {
    text-align: center;
    color: #15B097;
}

dialog button {
    border-radius: 5px;
    

}