* {
    padding: 0;
    margin: 0;
    font-family: 'One Little Font';
}

@font-face {
    font-family: 'One Little Font';
    src: url('fonts/One\ Little\ Font\ Regular.otf') format('opentype');
}

h1, h2, h3, h4 {
    color: black;
    display:inline;
    
}

i {
    color: white;
}

:root {
    --color-primary: #70a9a1;
    --color-white: #ebeaea;
    --color-logo: #e6b8d3;
    --color-foot: #1F363D;
    --color-h1: #29524A;
    --color-h2: #15B097;
    --color-h3: #71f79f;
    --color-h4: #4D5382;
}

hr {
    margin: 0 15%;
    color: black;
}

.legendas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
}

.legendas {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 3px 3px black;
    margin: 10px 20%;
    padding: 30px;
    background-color: aliceblue;
}

.legendas h1{
    margin: 15px 0;
    font-size: 4rem;
}

.legenda-item {
    font-size: 30px;
}

.legenda-item i {
    color: black;
    font-size: 30px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.btn-hover:hover {
    box-shadow: 1px 15px 15px black;
    width: 460px;
    
}

.btn-hover2:hover {
    box-shadow: 1px 15px 15px black;
    width: 360px;
}

.btn-hover3:hover {
    box-shadow: 1px 15px 15px black;
    width: 260px;
}

.primario {
    cursor: pointer;
    border-radius: 10px;
    width: 450px;
    background-color: var(--color-h1);
    padding: 20px;
    margin: 20px 0;
    font-size: 2rem;
    transition: 0.5s;
}

.secundario {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    width: 350px;
    background-color: var(--color-h2);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    transition: 0.5s;
}

.terciario {
    display: none;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;   
    background-color: var(--color-h3);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    transition: 0.5s;
}

.quartenario {
    display: none;
    border-radius: 10px;
    width: 150px;
    background-color: var(--color-h4);
    padding: 7px;
    margin-bottom: 20px;
    font-size: 0.7rem;
    transition: 0.5s;
}

@keyframes animacao { 
    0% {
        width: 0%;
    }
    
    100% {
        width: 60%;
    }
}

dialog {
    height: 60vh;
    width: 60%;
    animation-name: animacao;
    animation-duration: 0.5s;
}

dialog h2 {
    color: black;
}
dialog p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    padding: 20px;
    font-size: 1.4rem;
}

dialog button {
    border-radius: 50%;
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
}

dialog button:hover{
    background-color: aliceblue;
}

.btn-dialog { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titulo-dialog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
}

span {
    font-weight: 1000;
}

.quiz button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: aliceblue;
}

.quiz button:hover {
    box-shadow: 1px 7px 15px rgba(255, 255, 0, 0.719);
    background-color: rgba(255, 255, 0, 0.719);
    
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-quiz {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.container-quiz a{
    text-decoration: none;
    color: black;
}

.quiz{
    width: 120px;
    height: 40px;
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.quiz:hover{
    box-shadow: 1px 5px 5px
}
